:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #f0a868;
  --secondary-color: #525b0f;
  --tertiary-color: #8a470c;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
}

img {
  max-width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

p {
  padding: 0.75rem;
}

.logo {
  line-height: 60px;
  width: 245px;
  overflow: hidden;
  display: flex;
  font-size: 30px;
  text-align: right;
  font-family: var(--font-headline);
}

.logo img {
  width: 60px;
  height: 60px;
}

.logo a {
  text-decoration: none;
  color: var(--font-body);
}

.hero {
  position: relative;
}

.hero .logo {
  position: absolute;
  left: calc(50% - 60px);
  bottom: -15px;
  background-color: white;
}

.logo--square {
  font-size: var(--small-font);
  width: 110px;
  height: 80px;

  flex-direction: column;
  align-items: flex-end;
  box-shadow: 1px 1px 4px var(--light-grey);
  justify-content: center;
  align-items: center;
  line-height: 1;
}

.logo--square img {
  width: 90px;
  height: 90px;
  margin-top: -1.3em;
}

.logo--square > div {
  margin-top: -1.7em;
}

/* utility classes */
.highlight {
  color: var(--tertiary-color);
}

button {
  padding: 0.5em 2em;
  background-color: var(--secondary-color);
  color: white;
  margin: auto;
  display: block;
  border: 0;
  font-size: var(--large-font);
  cursor: pointer;
}

.divider {
  border-bottom: 2px solid var(--primary-color);
}

/* End utility classes */

/* MODAL */
.promo {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Advertisement box */
.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  max-width: 400px;
  text-align: center;
}

/* counter superscript in backpack logo */
 .cart {
  position: relative; 
  display: inline-block;
}
 
.cart-count {
  position: absolute;
  top: 2px;           
  right: -4px;       
  background-color: hwb(44 0% 0%);  
  color: black;
  border-radius: 50%;  
  font-size: 1rem;  
  font-weight: bold;
  line-height: 1;  
  height: 20px;
  width: 20px;
  display: flex;      
  align-items: center;
  justify-content: center;
  padding: 11px;
  
}

/*The 'Hidden' Utility */
.hidden {
  display: none; 
}





/* X Button */
.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  cursor: pointer;
}

/* Cart icon styles */
.cart {
  padding-top: 1em;
  position: relative;
  text-align: center;
}

.cart svg {
  width: 25px;
}

.cart:hover svg {
  fill: gray;
}

/* End cart icon styles */

.mission {
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  line-height: 1.3;
  width: 100%;
  background-color: var(--dark-grey);
  color: var(--light-grey);
  opacity: 0.8;
}

.mission p {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.products {
  margin-top: 2rem;
  padding: 1rem;
}

.product-list {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  justify-content: center;
}

.product-list a {
  text-decoration: none;
  color: var(--dark-grey);
}

/* Styles for product lists */
.product-card {
  flex: 1 1 45%;
  margin: 0.25em;
  padding: 0.5em;
  border: 1px solid var(--light-grey);
  max-width: 250px;
}

.product-card h2,
.product-card h3,
.product-card p {
  margin: 0.5em 0;
}

.card__brand {
  font-size: var(--small-font);
}

.card__name {
  font-size: 1em;
}

/* End product list card */

.product-detail {
  padding: 1em;
  max-width: 500px;
  margin: auto;
}

.product-detail img {
  width: 100%;
}

/* Start cart list card styles */
.cart-card {
  display: grid;
  grid-template-columns: 25% auto 15%;
  font-size: var(--small-font);
  /* max-height: 120px; */
  align-items: center;
}

.cart-card__image {
  grid-row: 1/3;
  grid-column: 1;
}

.cart-card p {
  margin-top: 0;
}

.cart-card .card__name {
  grid-row: 1;
  grid-column: 2;
}

.cart-card__color {
  grid-row: 2;
  grid-column: 2;
}

.cart-card__quantity {
  grid-row: 1;
  grid-column: 3;
}

.cart-card__price {
  grid-row: 2;
  grid-column: 3;
}

/* class that hold the three spans of prices */
#productPrice {
  display: flex;
  flex-direction: column; /*  stacks */
  gap: 5px; /* GAP */
  margin-top: 10px;
}

.original-price {
  color: #666;
  font-size: 1.2em;
  text-decoration: line-through; /* Adds the strikethrough automatically */
}

.discount-badge {
  color: #d10000; /* style for attention */
  font-weight: bold; /* style bolf */
  font-size: 1em;
}

.finalPrice {
  color: #000;
  font-weight: bold;
  font-size: 1.2em; /* make the final bigger */
}

/* This prevents the modal from appearing twice. Beforehand, JS was rendering it twice. */
#ad-modal {
  display: none;
}

#ad-modal.show {
  display: flex;
}

/* W03 Individual Activity */
img {
  width: 100%;
  height: auto;
}

.product-list img {
  width: 80px;
  display: block;
  margin: 0 auto;
}

.product-list {
  gap: 6rem;
  flex-wrap: wrap;
}

.product-list li {
  text-align: center;
}

.product-list h2 {
  margin-top: 0.5rem;
  font-size: 1.1rem;
}

/* W03 Individual Task - Sterling - Discount indicator-product listing */
.discount-badge {
  border-radius: 4px;
}

.product-card__retail-price {
  color: #777;
}

/* W04 Individual Task(s): Report - Sterling - Total$ in Cart */
.cart-footer {
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: bold;
}

.hide {
  display: none;
}

@media screen and (min-width: 500px) {
  body {
    max-width: 1080px;
    margin: auto;
  }

  .mission {
    font-size: 1.2em;
  }

  .cart-card {
    font-size: inherit;
    grid-template-columns: 150px auto 15%;
  }
}

footer {
  font-size: var(--small-font);
  padding: 1em;
}
